 name: CI Pipeline
# trigger ci

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Download NLTK data
        run: |
          python -m nltk.downloader punkt stopwords -d /home/runner/nltk_data

      - name: Set NLTK_DATA path
        run: |
          echo "NLTK_DATA=/home/runner/nltk_data" >> $GITHUB_ENV

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=${{ github.workspace }}" >> $GITHUB_ENV

      - name: Run tests
        run: python -m pytest -v
